a[data-logout-button] { color: white; }
.nav > li > a[data-logout-button]:hover { background-color: orangered; border-color: orangered; color: white; }
[data-login-user-area].open { display: block; padding-top: 0px; padding-bottom: 3px; margin-right: 10px; }
[data-login-user-area] .glyphicon-remove { cursor: pointer; color: white; }