@model MembershipWebsite.Models.RegisterUserModel

<div class="register-user-panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Register for a free account.</h4>
        </div>
        <div class="panel-body">
            @*Panel content*@
        </div>
    </div>
</div>

