@model MembershipWebsite.Models.ThumbnailAreaModel

@*Represents a row of thumbnails w/ a max of 4 in each*@

<div class="headline">
    <h3>The title area</h3>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="thumbnail">
            <img src="..." alt="" />
            <div class="caption">
                <h3>Thumbnail Title</h3>
                <p>Tumbnail Description</p>
            </div>
        </div>
    </div>
</div>
